*{
    margin: 0%;
    padding: 0%;
}

.s2_home{
    margin: 2% 1%;
    display: flex;
    justify-content: space-around;
}

.s3_home{
    background-color:#940000d8 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d_home{
    width: 30vw;
}

.text{
    margin: 1% 2%;
    color: white;
    font-size: large;
}

.contacto_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.section_redes{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    color: #FAFAFA;
    font-size: xx-large;
}

.contacto_ul li a img{
    height: 100%;
    width: 50%;
}

.contact_a img{
    height: 30%;
    width: 15%;
}
